{% extends 'base_www.html' %}
{% load navactive %}{% load markdown_deux_tags %}


{% block title %}

{% endblock title %}


{% block content %}

<script type='text/javascript'>
function addAnchors(){
    //loop through all your headers
    $.each($('h2'),function(index,value){
        //append the text of your header to a list item in a div, linking to an anchor we will create on the next line
        $('#box-anchors').append('<li><a href="#anchor-'+index+'">'+$(this).html()+'</a></li>');
        //add an a tag to the header with a sequential name
        $(this).html('<span id="anchor-'+index+'">'+$(this).html()+'</span>');
    });
}

$(document).ready(addAnchors);

</script>

<div class="container">
<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            {% markdown %}{% block copy_headline %}
                # Placeholder for content #
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>
<div class="row" >
    <div class="span12 paper">
        <div id="" class="span8 offset2">

            {% markdown %}{% block copy_introduction %}
            {% endblock %}{% endmarkdown %}

            <h2>Table of contents</h2>
            <ul id="box-anchors" class="table-of-contents">

            </ul>

            {% markdown %}{% block copy_1 %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}

        </div>
    </div>
</div>
</div>

<script type="text/javascript">

// Function to make the sticky header possible
    var shiftWindow = function() {
        scrollBy(0, -80);
        console.log("window shifted")
    };
    window.addEventListener("hashchange", shiftWindow);

    function loadShift() {
        if (window.location.hash) {
            console.log("window has hash");
            shiftWindow();
        }
    }

    $(window).load(function() {
        loadShift();
        console.log("late loadshift");
    });

</script>


{% endblock %}