{% extends 'base.html' %}
{% load navactive %}{% load markdown_deux_tags %}


{% block title %}

{% endblock title %}




{% block content %}

<div class="container">
<div class="row" >
    <div class="span12">
        <div id="top">

            {% markdown %}{% block copy_1 %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}

            {% markdown %}{% block copy_2 %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}


        </div>


    </div>
</div>
</div>

{% endblock %}s