{% extends 'base_www.html' %}{% load markdown_deux_tags %}

{% block content %}

<div class="container">
<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            {% markdown %}{% block copy_headline %}
                # Placeholder for content #
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>
<div class="row" >
    <div class="span12 paper">
        <div id="" class="span8 offset2">

            {% markdown %}{% block copy_install %}
            {% endblock %}{% endmarkdown %}

            {% markdown %}{% block copy_hello_world %}
            {% endblock %}{% endmarkdown %}

            {% markdown %}{% block copy_user_guides %}
            {% endblock %}{% endmarkdown %}

        </div>
    </div>
</div>

</div>

{% endblock %}