{% extends 'base_www.html' %}
{% load markdown_deux_tags %}{% load staticfiles %}


{% block content %}

<a href="https://github.com/dotcloud/docker/"><img style="position: absolute; top: 70; right: 0; border: 0; z-index: 22" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class="">
    <div id="top"  class="main-banner" >
        <div class="text-center ">
            <div class="copy-headline">

                {% markdown %}{% block copy_headline %}Placeholder for content
                {% endblock %}{% endmarkdown %}

                <img id="main-image" src="{% static 'img/homepage-docker-logo.png' %}">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row " >
        <div class="span12 text-center copy-introduction">

            {% markdown %}{% block copy_introduction %}Placeholder for content
            {% endblock %}{% endmarkdown %}

        </div>
    </div>

    <div class="row" >
        <div class="span12 text-center action-button">
            <button class="btn btn-large btn-primary primary-action-button">Get started!</button>
        </div>
    </div>


    <div class="row" >
        <h3>What people are saying about us:</h3>
        <div class="span12 tweets-block">
            <div class="tweet-surface">
            {% block tweets %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="span6 block_updates copy_news">
            {% markdown %}{% block copy_news %}Placeholder for content
            {% endblock %}{% endmarkdown %}
        </div>
        <div class="span6 block_updates copy_community">
            {% markdown %}{% block copy_community %}Placeholder for content
            {% endblock %}{% endmarkdown %}
        </div>
    </div>


</div> <!-- end container -->


{#<form name="email_subscribe" action="{% url 'email_thanks' %}" method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit">#}
{#</form>#}


{% endblock content %}


