{% extends 'base_simple.html' %}

{% block content %}

    Almost done! Now please check your email to confirm your email address.



    {% if intercom_extra %}
        <script id="IntercomSettingsScriptTag">
            window.intercomSettings = {
                email: "{{ intercom_extra.email }}",
                app_id: "gynyw9xf",
                email_signup_date: "{{ intercom_extra.news_signup_at }}",
                github_name: "{{ intercom_extra.github_name }}"
            };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
    {% endif %}



{% endblock %}