.debug {
  border: 2px dotted red !important;
}
body {
  margin-top: 70px;
}
p a {
  text-decoration: underline;
}
.brand.logo a {
  text-decoration: none;
}
.navbar .navbar-inner {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar .brand {
  margin-left: 0px;
  float: left;
  display: block;
}
.brand.logo a {
  color: white;
}
.navbar .nav li a {
  padding: 25px 20px 25px;
}
.nav-underline {
  height: 6px;
  background-color: #71afc0;
}
.nav-login li a {
  color: white;
  padding: 10px 15px 10px;
}
.inline-icon {
  margin-bottom: 6px;
}
.row {
  margin-top: 15px;
  margin-bottom: 15px;
}
div[class*='span'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box {
  padding: 30px;
  background-color: white;
  margin-top: 8px;
}
.paper {
  background-color: white;
  padding-top: 30px;
}
.copy-headline {
  margin-top: 20px;
}
.box h1,
.box h2,
.box h3,
.box h4 {
  margin-top: -5px;
}
.nested {
  padding: 30px;
}
.box.div {
  padding: 30px;
}
span.read-more {
  margin-left: 15px;
  white-space: nowrap;
}
.forcetopalign {
  margin-top: 15px !important;
}
.forcetopmargin {
  margin-top: 23px !important;
}
.forceleftalign {
  margin-left: 15px !important;
}
.forceleftmargin {
  margin-left: 21px !important;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.textsmaller {
  font-size: 11.9px;
}
.modal-backdrop {
  opacity: 0.4;
}
/* generic page copy styles */
.copy-headline h1 {
  font-size: 24px;
}
/* =======================
   Social footer
======================= */
.social {
  margin-left: 0px;
}
.social .twitter,
.social .github,
.social .googleplus {
  background: url("../img/footer-links.png") no-repeat transparent;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  text-indent: 9999px;
  width: 35px;
  margin-right: 10px;
}
.social .twitter {
  background-position: 0px 2px;
}
.social .github {
  background-position: -59px 2px;
}
form table th {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}
form .labeldd label {
  font-weight: bold;
}
form .helptext {
  font-size: 11.9px;
  margin-top: -4px;
  margin-bottom: 10px;
}
form .fielddd input {
  width: 250px;
}
form .error {
  color: #a30000;
}
div.alert.alert-block {
  margin-bottom: 15px;
}
footer,
.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px solid black;
}
footer .ligaturesymbols,
.footer .ligaturesymbols {
  font-size: 30px;
  color: black;
}
footer .ligaturesymbols a,
.footer .ligaturesymbols a {
  color: black;
}
.footer-landscape {
  background-color: #71afc0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-landscape-image {
  background-image: url('../img/website-footer.svg');
  background-repeat: repeat-x;
  height: 200px;
}
#top {
  background-color: #71afc0;
  position: relative;
  left: 0;
  right: 0;
}
#main-image {
  width: 350px;
  margin: 20px;
}
.main-banner {
  padding: 15px;
}
.copy-introduction {
  margin-top: 15px;
}
.tweets-block {
  height: 220px;
  background-color: white;
  border: 1px #394d54 solid;
  overflow-x: scroll;
  overflow-y: hidden;
}
.tweets-block .tweet {
  margin: 5px;
  width: 300px;
  height: 80px;
  display: block;
  float: left;
  padding: 3px;
}
.tweets-block .tweet img {
  float: left;
  margin: 0 5px 5px 0;
  width: 48px;
  height: 48px;
}
.tweets-block .tweet .handle {
  font-weight: bold;
}
.tweets-block .tweet .username {
  clear: right;
}
.tweet-surface {
  width: 5000px;
  height: 200px;
}
.primary-action-button {
  border-radius: 0px;
  padding: 17px 30px 17px 30px ;
  background: #394D54;
}
.primary-action-button:hover {
  background: #333333 !important;
}
button:hover {
  background-color: white;
}
.block_updates {
  padding: 10px;
}
.copy-introduction {
  font-size: 16px;
}
/*
 For the about page
*/
.table {
  margin-top: 10px;
  margin-bottom: 10px;
}
.table td {
  padding: 5px;
}
.table thead {
  font-weight: bold;
  font-size: larger;
}
.table tbody td:first-child {
  font-weight: bold;
}
.striped-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.striped-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 103, 177, 0.14);
}
